.activity-button {
  width: 100%;
  margin: 0.5em 0;
  padding: 10px;
  padding-right: 2px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;

  border: 1px silver solid;
  border-radius: 15px;
  
  background: white;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
}

.activity-button:hover {
  background: #F0F0F0;;
}

.activity-direction, .activity-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-direction {
  width: 15%;
  display: flex;
  align-items: center;
}

.activity-missed {
  color: red;
}

.activity-answered {
  color: green;
}

.activity-voicemail {
  color: blue;
}

.activity-summary {
  width: 70%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.activity-from {
  font-weight: bolder;
  font-size: larger;
  color: #333;
  padding-bottom: 0.1em;
}

.activity-time {
  width: 15%;
}